html {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: rgb(15, 15, 15);
    color: #c0c0c0;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

#main-title {
    font-size: 2rem;
    color: #c0c0c0;
    text-shadow: 0 2px red;
    margin-top: 10px;
    margin-bottom: 5px;
}

#main-subTitle {
    display: inline-block;
    font-size: 1.4rem;
    /*color: #c0c0c0;*/
    margin-top: 10px;
    align-items: flex-end;
    color: black;
    letter-spacing: 3px;
    text-shadow: -1px -1px 0 red, 1px -1px 0 red, -1px 1px 0 red, 1px 1px 0 red;
}

.title-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
    align-items: center;
    padding: 0;
}

.page-subtitle {
    font-size: 1rem;
    color: #c0c0c0;
    font-style: italic;
}

.highlight_text {
    color: red;
    text-transform: capitalize;
    font-style: italic;
}

.planet {
    display: flex;
    flex-flow: column;
}

.page-title {
    font-size: 1.4rem;
    text-shadow: 0 2px red;
}

.planet_name {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.1rem;
    text-shadow: 0 2px red;
    text-align: left;
}

.planet_info {
    text-align: left;
    font-size: 0.9rem;
    order: 1;
}

.planet_images {
    width: 95%;
    margin: auto;
    max-width: 620px;
    margin-top: 15px;
}

#images {
    display: flex;
    flex-flow: column;
    order: 2;
}

.page-enter-active,
.page-leave-active {
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
}

.page-enter,
.page-leave-to {
    opacity: 0;
}

.emphasis {
    color: red;
    font-style: italic;
}

.title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
    text-shadow: 0 2px red;
    padding: 0;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.image {
    transition: transform 1s ease 0.2s;
    -webkit-transition: transform 1s ease 0.2s;
    -moz-transition: transform 1s ease 0.2s;
    -ms-transition: transform 1s ease 0.2s;
    -o-transition: transform 1s ease 0.2s;
}

li {
    list-style: none;
}

.info h6 {
    color: #c0c0c0;
    font-size: 1rem;
}

.text-focus-in {
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}


/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */

@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

.swing-in-left-bck {
    -webkit-animation: swing-in-left-bck 2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    animation: swing-in-left-bck 2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    animation-delay: 0.5s;
}


/**
 * ----------------------------------------
 * animation swing-in-left-bck
 * ----------------------------------------
 */

@-webkit-keyframes swing-in-left-bck {
    0% {
        -webkit-transform: rotateY(-70deg);
        transform: rotateY(-70deg);
        -webkit-transform-origin: left;
        transform-origin: left;
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        -webkit-transform-origin: left;
        transform-origin: left;
        opacity: 1;
    }
}

@keyframes swing-in-left-bck {
    0% {
        -webkit-transform: rotateY(-70deg);
        transform: rotateY(-70deg);
        -webkit-transform-origin: left;
        transform-origin: left;
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        -webkit-transform-origin: left;
        transform-origin: left;
        opacity: 1;
    }
}

.swing-in-right-bck {
    -webkit-animation: swing-in-right-bck 2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    animation: swing-in-right-bck 2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    animation-delay: 0.5s;
}


/**
 * ----------------------------------------
 * animation swing-in-right-bck
 * ----------------------------------------
 */

@-webkit-keyframes swing-in-right-bck {
    0% {
        -webkit-transform: rotateY(70deg);
        transform: rotateY(70deg);
        -webkit-transform-origin: right;
        transform-origin: right;
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        -webkit-transform-origin: right;
        transform-origin: right;
        opacity: 1;
    }
}

@keyframes swing-in-right-bck {
    0% {
        -webkit-transform: rotateY(70deg);
        transform: rotateY(70deg);
        -webkit-transform-origin: right;
        transform-origin: right;
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        -webkit-transform-origin: right;
        transform-origin: right;
        opacity: 1;
    }
}

.slide-in-bottom {
    -webkit-animation: slide-in-bottom 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-bottom 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */

@-webkit-keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}


/* MEDIUM VIEW */

@media screen and (min-width: 991px) and (max-width: 1199px) {
    body {
        background: url('../assets/img/background_main.jpg');
        background-size: cover;
        background-position: left bottom;
        background-repeat: no-repeat;
    }
    #main-title {
        font-size: 4rem;
        margin-bottom: 5px;
        background: url('../assets/img/sun/sun_surface.jpg') no-repeat;
        background-size: cover;
        background-position: bottom left;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        -webkit-text-fill-color: transparent;
    }
    #main-subTitle {
        display: inline-block;
        font-size: 1.6rem;
        align-items: baseline;
        color: black;
        letter-spacing: 5px;
        text-shadow: -1px -1px 0 red, 1px -1px 0 red, -1px 1px 0 red, 1px 1px 0 red;
    }
    .image {
        border: 2px groove #c0c0c0;
    }
    .planet {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .planet_name {
        font-weight: bold;
        font-size: 1.5rem;
    }
    .planet_info {
        text-align: left;
        font-size: 1.2rem;
        grid-column: 1 / 2;
    }
    .page-title {
        font-size: 1.6rem;
        text-shadow: 0 2px red;
    }
    .page-subtitle {
        font-size: 1rem;
        color: #c0c0c0;
        font-style: italic;
    }
    .info h6 {
        font-size: 1.2rem;
    }
    .title {
        margin-bottom: 25px;
        font-size: 1.6rem;
    }
}


/* LARGE VIEW */

@media screen and (min-width: 1200px) {
    body {
        background: url('../assets/img/background_main.jpg');
        background-size: cover;
        background-position: left bottom;
        background-repeat: no-repeat;
    }
    #main-title {
        font-size: 6rem;
        margin: 20px 20px 30px 0;
        color: #c0c0c0;
        text-shadow: 0 4px red;
        text-shadow: none;
        background: url('../assets/img/sun/sun_surface.jpg') no-repeat;
        background-size: cover;
        background-position: bottom left;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        -webkit-text-fill-color: transparent;
    }
    #main-subTitle {
        display: inline-block;
        font-size: 2rem;
        margin-top: 0;
        align-items: baseline;
        color: black;
        letter-spacing: 6px;
        text-shadow: -1px -1px 0 red, 1px -1px 0 red, -1px 1px 0 red, 1px 1px 0 red;
    }
    .title-section {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
        align-items: baseline;
        padding: 10px;
    }
    .planet {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .planet_name {
        font-size: 1.5rem;
    }
    .planet_info {
        font-size: 1.2rem;
        grid-column: 1 / 2;
        grid-row: 1 / -1;
    }
    #images {
        grid-column: 2 / 3;
        grid-row: 1 / -1;
    }
    .image {
        border: 2px groove #c0c0c0;
    }
    .page-title {
        font-size: 2rem;
        text-shadow: 0 2px red;
        text-transform: uppercase;
        margin-right: 20px;
        margin-bottom:30px;
    }
    .page-subtitle {
        font-size: 1.5rem;
    }
    .info h6 {
        font-size: 1.4rem;
    }
    .title {
        font-size: 1.6rem;
        margin-bottom: 30px;
    }
    .images-top {
        grid-row: 2 / 3;
        display: flex;
        margin-top: 0;
        padding-top: 0;
        justify-content: space-between
    }
}